In [1]:
# List ===>
# (1). Idenatification = []
# (2). Mutable data type ==> We can change or update our values at a run time .
# (3). Indexing start from 0 and length start from 1 .
# (4). This is a container in which we can store or assign the values .

In [2]:
a = ['sam' , 45 , 'Rahul',67.34]
type(a)

list

In [3]:
# Mutable
print(a[0])
print(a[1])
print(a[2])
print(a[3])

sam
45
Rahul
67.34

In [4]:
for i in range (len(a)):
    print(a[i])

sam
45
Rahul
67.34

In [5]:
for i in range (len(a)):
    print(a[i] , end = " ")

sam 45 Rahul 67.34

In [6]:
a

['sam', 45, 'Rahul', 67.34]

In [7]:
a[2] = 'Mohit'
print(a)

['sam', 45, 'Mohit', 67.34]

In [8]:
# Functions in List
# (1). index()
a = ['sam', 45, 'Mohit', 67.34]
print(a.index('Mohit'))

2

In [9]:
# (2). len()
a = ['sam', 45, 'Mohit', 67.34]
len(a)

4

In [10]:
# (3). append() ==> it will add element in the last indexing of list  .
a = ['sam', 45, 'Mohit', 67.34]
a.append('Rohit')
a

['sam', 45, 'Mohit', 67.34, 'Rohit']

In [11]:
# insert(index , object) ===>
a = ['sam', 45, 'Mohit', 67.34]
a.insert(1, 7000)
a

['sam', 7000, 45, 'Mohit', 67.34]

In [12]:
# count() ===>
a = ['sam', 45, 'Mohit', 67.34 , 45 , 45]
a.count(45)

3

In [13]:
# pop() -===> delete the element  from the last indexing.
a = ['sam', 45, 'Mohit', 67.34]
a.pop()
a

['sam', 45, 'Mohit']

In [14]:
# remove() ===> it will remove the element
a = ['sam', 45, 'Mohit', 67.34]
a.remove(45)
a

['sam', 'Mohit', 67.34]

# How can we create a user defined List ?

In [16]:
a = []
size = int(input("Enter size:"))
for i in range(size):
    val = int(input("Enter item:"))
    a.append(val)
print(a)

Enter size:4
Enter item:2
Enter item:321
Enter item:49
Enter item:51
[2, 321, 49, 51]

In [17]:
a = []
size = int(input("Enter size:"))
for i in range(size):
    val = int(input("Enter item:"))
    a.append(val)
print(a)
sum = 0
for i in range(len(a)):
    sum = sum + a[i]
print("Total Add = " , sum)

Enter size:6
Enter item:-3
Enter item:7
Enter item:54
Enter item:24
Enter item:0
Enter item:98
[-3, 7, 54, 24, 0, 98]
Total Add =  180